$img-size: 225px;
$inner-height: 24vh;
$translucent: rgba(0,0,0,.6);
$base-color: #8fd6bd;


body {
	font-family: Arial, sans-serif;
	margin: 0;
	color: $base-color;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	padding: 20px;
	background-color: rgba(#fff, .3);
	box-shadow: 0 2px 10px $translucent;

	.logo {
		max-width: $img-size;

		a{
			display: block;
		}

		img{
			max-width: 100%;
		}
	}


	.navigation {
		flex-basis: 50%;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-between;

			li {
				list-style: none;
				min-width: 150px;

				a {
					display: block;
					padding: 15px;
					background-color: $base-color;
					color: #000;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					transition: all .3s ease;
					border-radius: 5px;

					&:hover {
						background-color: #000;
						color: $base-color;
					};
				}
			}
		}
	}
}

section {
	background: url("../img/beetroot-bg.jpg") no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $translucent;
		z-index: 1;
	};

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 40%;
		padding: 20px;
		border-radius: 15px;
		box-shadow: 2px 2px 10px 0 $translucent;
		background-color: rgba(#000, .5);
		position: relative;
		z-index: 2;
		color: $base-color;
		min-height: 24vh;

		img {
			max-width: $img-size;
			min-width: $img-size;
			border-radius: 10px;
			overflow: hidden;
		}

		h2 {
			flex-basis: 100%;
			margin: 0;
			font-size: 4rem;
			text-transform: uppercase;
			text-align: center;
		}
	}
}